In [1]:
import pandas as pd
import os
os.chdir("D:\合作店铺\科帕奇\Basic Data")

<>:3: SyntaxWarning: invalid escape sequence '\B'
<>:3: SyntaxWarning: invalid escape sequence '\B'
C:\Users\jackyzhu\AppData\Local\Temp\ipykernel_21924\2314122016.py:3: SyntaxWarning: invalid escape sequence '\B'
  os.chdir("D:\合作店铺\科帕奇\Basic Data")

In [4]:
orders = pd.read_csv('seller_order.csv',index_col = 0)

In [6]:
orders.amazon_order_id.value_counts()

amazon_order_id
702-3246125-4201856    1
113-2762084-9898624    1
112-5775233-8042640    1
113-0341880-5960277    1
112-1151904-1618610    1
                      ..
112-0247968-7040240    1
112-4275679-4982621    1
113-0445640-1269066    1
114-7006402-2302660    1
113-9078149-1954646    1
Name: count, Length: 112176, dtype: int64

In [8]:
po = pd.read_csv('order_product.csv',index_col=0)

In [14]:
orders.amazon_order_id.nunique()

112176

In [15]:
po.amazon_order_id.nunique()

112176

In [18]:
orders.quantity_shipped.sum()

120376

In [17]:
po.quantity_shipped.sum()

117220.0

In [30]:
comp = po.groupby(['amazon_order_id'])['quantity_shipped'].sum().reset_index().merge(orders[['amazon_order_id','quantity_shipped','year','month']],how = 'left', on = 'amazon_order_id')

In [32]:
comp[comp['quantity_shipped_x']!=comp['quantity_shipped_y']].sort_values(['year','month'])

,amazon_order_id,quantity_shipped_x,quantity_shipped_y,year,month
7714,111-3010843-7873014,1.0,2,2022,2
15256,111-5971948-0689026,1.0,2,2022,2
27047,112-0613124-4549063,1.0,2,2022,2
31118,112-2228134-9706649,1.0,2,2022,2
37956,112-4895175-3409006,2.0,4,2022,2
...,...,...,...,...,...
110946,702-7534268-5451417,0.0,1,2024,2
111063,702-7738072-4820247,0.0,1,2024,2
111512,702-8648645-3676226,0.0,1,2024,2
111757,702-9112636-0913818,0.0,1,2024,2
112096,702-9810874-3873006,0.0,1,2024,2

In [39]:
po[po['amazon_order_id'] == '112-4895175-3409006']['charge_list'][57272]

'[{"ChargeType": "Principal", "ChargeAmount_CurrencyCode": "USD", "ChargeAmount_CurrencyAmount": 85.9}, {"ChargeType": "Tax", "ChargeAmount_CurrencyCode": "USD", "ChargeAmount_CurrencyAmount": 0.0}, {"ChargeType": "GiftWrap", "ChargeAmount_CurrencyCode": "USD", "ChargeAmount_CurrencyAmount": 0.0}, {"ChargeType": "GiftWrapTax", "ChargeAmount_CurrencyCode": "USD", "ChargeAmount_CurrencyAmount": 0.0}, {"ChargeType": "ShippingCharge", "ChargeAmount_CurrencyCode": "USD", "ChargeAmount_CurrencyAmount": 0.0}, {"ChargeType": "ShippingTax", "ChargeAmount_CurrencyCode": "USD", "ChargeAmount_CurrencyAmount": 0.0}]'

In [40]:
orders[orders['amazon_order_id'] == '112-4895175-3409006']

,seller_id,currency_code,amount,quantity_shipped,marketplace,amazon_order_id,year,month,day
12656,A2R7HPZ408C2AG,USD,330.8,4,Amazon.com,112-4895175-3409006,2022,2,22